{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "verifyConditionsCmd": "make ci",
    }],
    ["@semantic-release/github", {
      assets: "dist/*"
    }],
    ["@semantic-release/npm", {
      "pkgRoot": "dist"
    }]
  ]
}
